{% load cart_template_tags %}
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/">
        <strong class="blue-text">E1-Commerce Django</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="checkout/">Checkout</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          {% if request.user.is_authenticated %}
            <li class="nav-item mr-2">
            <a class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> {{request.user | cart_item_count}} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
            </li>
            <li class="nav-item mr-2">
            <a class="nav-link border border-light rounded waves-effect" href="{% url 'account_logout' %}">
              <i class="fas fa-user"></i>
              <span class="clearfix d-none d-sm-inline-block "> LogOut </span>
            </a>
            </li>
          {% else %}
            <li class="nav-item mr-2">
            <a class="nav-link border border-light rounded waves-effect" href="{% url 'account_login' %}">
              <i class="fas fa-user"></i>
              <span class="clearfix d-none d-sm-inline-block"> LogIN </span>
            </a>
            </li>
            <li class="nav-item">
            <a class="nav-link border border-light rounded waves-effect" href="{% url 'account_signup' %}">
              <i class="fas fa-user"></i>
              <span class="clearfix d-none d-sm-inline-block"> SignUp </span>
            </a>
            </li>
          <li class="nav-item ml-2">
            <a href="https://github.com/piyushsingariya/Ecommerce-django" class="nav-link border border-light rounded waves-effect"
              target="_blank">
              <i class="fab fa-github mr-2"></i>E1-Commerce GitHub
            </a>
          </li>
          {% endif %}
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->
